<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="aside" class="aside">
    <div class="profile">
        <img class="avatar" src="../uploads/avatar.jpg">
        <h3 class="name">布头儿</h3>
    </div>
    <ul class="nav">
        <li class="active">
            <a href="/mvc/index.html"><i class="fa fa-dashboard"></i>仪表盘</a>
        </li>
        <li>
            <a href="/mvc/#menu-posts" class="collapsed" data-toggle="collapse">
                <i class="fa fa-thumb-tack"></i>文章<i class="fa fa-angle-right"></i>
            </a>
            <ul id="menu-posts" class="collapse">
                <li><a href="/mvc/posts.html">所有文章</a></li>
                <li><a href="/mvc/post-add.html">写文章</a></li>
                <li><a href="/mvc/categories.html">分类目录</a></li>
            </ul>
        </li>
        <li>
            <a href="/mvc/comments.html"><i class="fa fa-comments"></i>评论</a>
        </li>
        <li>
            <a href="/mvc/users.html"><i class="fa fa-users"></i>用户</a>
        </li>
        <li>
            <a href="/mvc/#menu-settings" class="collapsed" data-toggle="collapse">
                <i class="fa fa-cogs"></i>设置<i class="fa fa-angle-right"></i>
            </a>
            <ul id="menu-settings" class="collapse">
                <li><a href="/mvc/nav-menus.html">导航菜单</a></li>
                <li><a href="/mvc/slides.html">图片轮播</a></li>
                <li><a href="/mvc/settings.html">网站设置</a></li>
            </ul>
        </li>
    </ul>
</div>
</body>
</html>